---
import CardGrid from "../sections/CardGrid.astro";
import type { HomeCardItem } from "../../data/homeContent";

type Props = {
  title: string;
  subtitle: string;
  cards: HomeCardItem[];
  modifier?: string;
  columnsMin?: number;
};

const {
  title,
  subtitle,
  cards,
  modifier = "",
  columnsMin = 220,
} = Astro.props as Props;

const sectionClasses = ["home-grid__section", "home-grid__cards", modifier]
  .filter(Boolean)
  .join(" ");
---

<div class={sectionClasses}>
  <CardGrid title={title} subtitle={subtitle} cards={cards} columnsMin={columnsMin} />
</div>
